<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader xmlns="http://www.tei-c.org/ns/1.0" xml:id="{{ object.file_name }}">
        <fileDesc>
            <titleStmt>
                <title type="main">{% for x in info.main_person %}{{ x.value }}{% endfor %}: {{ info.shelfmark }}</title>
                <title type="sub">Grocers of Istanbul: Tracing Food Consumption (GrocerIST)</title>
                <principal>
                    <persName role="acdh:hasPrincipialInvestigator" key="https://orcid.org/0000-0002-8740-5275">Yavuz Köse</persName>
                </principal>
                <funder>
                    <name>FWF - Der Wissenschaftsfonds</name>
                    <address>
                        <street>Sensengasse 1</street>
                        <postCode>1090 Wien</postCode>
                        <placeName>
                            <country>A</country>
                            <settlement>Wien</settlement>
                        </placeName>
                    </address>
                </funder>
                <respStmt>
                    <resp>Transcription and Annotation</resp>
                    <persName role="acdh:hasCreator">Suemeyye Hosgoer Bueke</persName>
                </respStmt>
                <respStmt>
                    <resp>XML/TEI creation</resp>
                    <persName role="acdh:hasContributor" key="https://orcid.org/0000-0002-9575-9372">Peter Andorfer</persName>
                </respStmt>
            </titleStmt>
            <publicationStmt>
                <p>Publication Information</p>
            </publicationStmt>
            <sourceDesc>
                <msDesc type="invetory">
                    <msIdentifier>
                        <institution>Name of the Archiv</institution>
                        <repository>Name of the Repository</repository>
                        <idno type="archive">{{ info.shelfmark }}</idno>
                    </msIdentifier>
                    <history>{% if info.year_of_creation_miladi %}
                        <origin when="{{ info.year_of_creation_miladi }}"/>{% else %}<origin notBefore="1700" notAfter="1900"/> {% endif %}
                    </history>
                </msDesc>
            </sourceDesc>
        </fileDesc>
        <profileDesc>
         <abstract>
            <ab>Transcription of the grocerist shop inventory with shelfmark <idno>{{ info.shelfmark }}</idno></ab>
         </abstract>{% if info.year_of_creation_miladi %}
         <creation><date when="{{ info.year_of_creation_miladi }}">{{ info.year_of_creation__hicri }}</date></creation>{% endif %}
         <particDesc>
            <listPerson>{% for x in info.main_person %}
               <person role="main_person" xml:id="person__{{ x.id }}">
                <persName>{{ x.value }}</persName>
               </person>{% endfor %}
               {% for x in info.mentioned_persons %}
               <person role="mentioned">
                <persName>{{ x.value }}</persName>
               </person>{% endfor %}
            </listPerson>
         </particDesc>
         <settingDesc>
            <listPlace>
{% for x in info.district %}<place xml:id="district__{{ x.id }}" type="district"><placeName>{{ x.value }}</placeName></place>{% endfor %}
{% for x in info.neighbourhood %}<place xml:id="neighbourhood__{{ x.id }}" type="neighbourhood"><placeName>{{ x.value }}</placeName></place>{% endfor %}
            </listPlace>
         </settingDesc>{% if info.goods %}
         <textClass>
            <keywords>
{% for x in info.goods %}<term xml:id="goods__{{ x.id }}">{{ x.value }}</term>{% endfor %}
            </keywords>
         </textClass>{% endif %}
      </profileDesc>
    </teiHeader>
    <text>
        <body>
            {{ object.body|safe }}
        </body>
    </text>
</TEI>
