<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader xmlns="http://www.tei-c.org/ns/1.0" xml:id="{{ object.file_name }}">
        <fileDesc>
            <titleStmt>
                <title level="a">{{ info.shelfmark }}</title>
                <title level="s">Grocers of Istanbul: Tracing Food Consumption (GrocerIST)</title>
                <principal>
                    <persName role="acdh:hasPrincipialInvestigator" key="https://orcid.org/0000-0002-8740-5275">Yavuz
                        Köse</persName>
                </principal>
                <funder key="https://d-nb.info/gnd/108889819X">
                    <name>FWF - Der Wissenschaftsfonds</name>
                    <address>
                        <street>Georg-Coch-Platz 2</street>
                        <postCode>1010 Wien</postCode>
                        <placeName>
                            <country key="AT">Austria</country>
                            <settlement>Wien</settlement>
                        </placeName>
                    </address>
                </funder>
                <respStmt>
                    <resp>Transcription and Annotation</resp>
                    <persName role="acdh:hasCreator" key="https://orcid.org/0009-0006-6400-6198">Sümeyye Hoşgör Büke
                    </persName>
                </respStmt>
                <respStmt>
                    <resp>XML/TEI creation</resp>
                    <persName role="acdh:hasContributor" key="https://orcid.org/0000-0002-9575-9372">Peter Andorfer
                    </persName>
                </respStmt>
                <respStmt>
                    <resp>XML/TEI creation</resp>
                    <persName role="acdh:hasContributor" key="https://orcid.org/0000-0001-6580-5182">Michaela
                        Rausch-Supola</persName>
                </respStmt>
                <respStmt>
                    <resp>XML/TEI creation</resp>
                    <persName role="acdh:hasContributor" key="https://orcid.org/0009-0009-4161-9532">Kinga
                        Sramó</persName>
                </respStmt>
            </titleStmt>
            <publicationStmt>
                <publisher key="https://d-nb.info/gnd/1123037736">Austrian Center for Digital Humanities</publisher>
                <publisher key="https://orcid.org/0000-0002-8740-5275">Yavuz Köse</publisher>
                <availability>
                    <licence target="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <msDesc>
                    <msIdentifier>
                        <institution>Directorate of State Archives of the Presidency of the Republic of Türkiye</institution>
                        <repository>Ottoman Archives</repository>
                        <idno type="archive">{{ info.shelfmark }}</idno>
                    </msIdentifier>
                    <history>
                        {% if info.creation_date_ISO %}
                        <origin when-iso="{{ info.creation_date_ISO }}" />
                        {% else %}
                        {% if info.century.value == "18"%}
                        <origin notBefore="1700" notAfter="1799" />
                        {% elif info.century.value == "19" %}
                        <origin notBefore="1800" notAfter="1899" />
                        {% endif %}
                        {% endif %}
                        {% if info.creation_date_hicri %}
                        <origin when="{{ info.creation_date_hicri }}" datingMethod="#islamic" />
                        {% endif %}
                    </history>
                </msDesc>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <geoDecl xml:id="dd" datum="WGS84-DD">World Geodetic System: decimal degrees</geoDecl>
        </encodingDesc>
        <profileDesc>
            <abstract>
                <ab>{% if object.has_transcript %}Transcription and data{% else %}Data{% endif %} of the grocer's shop inventory
                    with shelfmark <idno>{{ info.shelfmark }}</idno>
                </ab>
            </abstract>
            <calendarDesc>
                <calendar xml:id="islamic">
                    <p>Islamic Calendar (Hicri)</p>
                </calendar>
            </calendarDesc>
        </profileDesc>
    </teiHeader>
    <standOff>
        <listPlace>
            <place>
                <location>
                    <geo decls="#dd">{{ info.lat }} {{ info.long }}</geo>
                </location>
            </place>
            {% for x in info.district %}
            <place xml:id="district__{{ x.id }}" type="district">
                <placeName>{{ x.value }}</placeName>
            </place>
            {% endfor %}
            {% for x in info.neighbourhood %}
            <place xml:id="neighbourhood__{{ x.id }}" type="neighbourhood">
                <placeName>{{ x.value }}</placeName>
            </place>
            {% endfor %}
            {% for x in info.nahiye %}
            <place xml:id="nahiye__{{ x.id }}" type="nahiye">
                <placeName>{{ x.value }}</placeName>
            </place>
            {% endfor %}
            {% for x in info.quarter %}
            <place xml:id="quarter__{{ x.id }}" type="quarter">
                <placeName>{{ x.value }}</placeName>
            </place>
            {% endfor %}
            {% for x in info.karye %}
            <place xml:id="karye__{{ x.id }}" type="karye">
                <placeName>{{ x.value }}</placeName>
            </place>
            {% endfor %}
            {% for x in info.address %}
            <place xml:id="address__{{ x.id }}" type="address">
                <placeName>{{ x.value }}</placeName>
            </place>
            {% endfor %}
        </listPlace>
        {% if info.main_person or info.mentioned_persons%}
        <listPerson>
            {# because of baserow, main_person is a list, but there is only one main person #}
            {% if info.main_person %}
            {% set main_person = info.main_person[0] %}
            <person role="main_person" xml:id="person__{{main_person.id }}">
                <persName>{{ main_person.name }}</persName>
                <state type="status"><label>{{ info.status_of_main_person.value |lower }}</label></state>
                {% for r in main_person.religion %}
                <faith>{{ r.value }}</faith>
                {% endfor %}
            </person>
            {% endif %}
            {% for x in info.mentioned_persons %}
            <person role="mentioned">
                <p>{{ x.value }}</p>
            </person>
            {% endfor %}
        </listPerson>
        {% endif %}
        {% if info.main_person and info.type_of_ownership %}
        {% set main_person = info.main_person[0] %}
        <listRelation>
            <relation type="ownership" name="{{ info.type_of_ownership.value |lower}}"
                active="#person__{{ main_person.id }}">
            </relation>
        </listRelation>
        {% endif %}
        {% if info.goods %}
        <list type="inventory">
            {% for x in info.goods %}
            <item xml:id="goods__{{ x.id }}">
                <name xml:lang="tr">{{ x.name }}</name>
                {% if x.english_names%}
                {% for translation in x.english_names.split(',') %}
                <name xml:lang="en">{{ translation.strip() }}</name>
                {% endfor %}
                {% endif%}
                {% if x.spelling_variations_and_synonyms %}
                {% for variation in x.spelling_variations_and_synonyms.split(',') %}
                <name xml:lang="tr" type="variation">{{ variation.strip() }}</name>
                {% endfor %}
                {% endif %}
                {% if x.notes %}
                <note>{{ x.notes }}</note>
                {% endif %}
                {% if x.broken_or_spoilt %}
                <state>
                    <desc>
                        <list>
                            <item>broken or spoilt</item>
                        </list>
                    </desc>
                </state>
                {% endif %}
            </item>
            {% endfor %}
        </list>
        {% endif %}
        {% if info.price_per_document%}
        <list type="prices">
            {% for x in info.price_per_document %}
            <item xml:id="{{ x.grocerist_id }}">
                <measureGrp>
                    {# TODO: what to do about x.price #}
                    <measure type="value" {%- if x.amount_of_units %} quantity="{{x.amount_of_units}}" {% endif -%} {%-
                        if x.unit %} unit="{{x.unit.value}}" {% endif -%} {%- if x.good[0] %}
                        commodity="{{x.good[0].value}}" {% endif -%}>{{x.total_value}}</measure>
                    {% if x.currency %}
                    <measure type="currency">{{x.currency.value}}</measure>
                    {% endif %}
                </measureGrp>
            </item>
            {% endfor %}
        </list>
        {% endif%}
        {% if info.utensils %}
        <list type="utensils">
            {% for x in info.utensils %}
            <item xml:id="utensil__{{ x.id }}">
                <name xml:lang="tr">{{ x.value }}</name>
                {% if x.notes %}
                <note>{{ x.notes }}</note>
                {% endif %}
            </item>
            {% endfor %}
        </list>
        {% endif %}
    </standOff>
    <facsimile>
        <graphic url="https://id.acdh.oeaw.ac.at/grocerist/facs/{{ info.doc_id }}_0001.jpg" />
        {% if info.facs_pages == "2" %}
        <graphic url="https://id.acdh.oeaw.ac.at/grocerist/facs/{{ info.doc_id }}_0002.jpg" />
        {% endif %}
    </facsimile>
    <text>
        <body>
            {{ object.body|safe }}
        </body>
    </text>
</TEI>